body {
	background-color: #ecf0f1;	/*aqua*/ 	
}

#team_name{
	text-align: center;
	font-size: 350%;
	font-family: Arial;
}


.navigation{
	background-color:black;
	margin:0px;
}
.navigation a{
	color : white;
	font-size: 200%;
}

#contact {
	text-align:center;
	font-size:150%;
	margin: 120px;
	padding-top: 50px;
}

.timetable{
	text-align: center;
	font-size: 150%;
	padding-top: 150px;
	padding-left: 50px;
}

.timetable th{
	border: 1px solid black;
}

.timetable td{
	border: 1px solid black;
}

#personal_info{
	font-size: 125%;
	font-family: Arial;
}

#profile_pic{
	float: left;
	width: 200px;
	height: 200px;
	padding: 10px;
	border-radius:20px 20px 20px 20px;
}